<% layout("/layouts/boilerplate") %>
<body>
  
   <br>
    <h3>All listing</h3>
    <br>
   <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
     <% for(let listing of allListing) {%>
      <a href="/listings/<%= listing._id %>" class="listing-links">
        <div class="card col listing-card" style="width: 20rem;">
        <img src=" <%= listing.image.url %>" class="card-img-top image" alt="listing_image" style="height: 15rem; "/>
        <br>
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            Title: <b><%= listing.title %></b> <br>
            Price: &#8377;<%= listing.price.toLocaleString("en-IN") %>/night 
          </p>
        </div>
      </div>
    </a>
    
    <% } %></div>
   
</body>
