  <% layout("/layouts/boilerplate") %>
    <div class="row">
      <div class="col-8 offset-2" >
      <h3>create new listing</h3>

      <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
  
        <div class="mb-3">
          <lable for="title" class="form-label">Title</lable>
          <input name="listing[title]" placeholder="Enter title" type="text" class="form-control" required/>
          <div class="invalid-feedback">Title is required!</div>
          <div class="valid-feedback">Title looks Good</div>
        </div>
  
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input name="listing[description]" placeholder="Enter description" type="text" class="form-control" required/>
          <div class="invalid-feedback">Description is required!</div>
          <div class="valid-feedback">Description looks Good</div>
        </div>
  
        <!-- <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input name="listing[image]" placeholder="Enter image url" type="text" class="form-control" />
          <div class="invalid-feedback">Image is required!</div>
          <div class="valid-feedback">Image looks Goods</div>
        </div>
         -->
        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input name="listing[image]" type="file" class="form-control" required />
          <div class="invalid-feedback">Image is required!</div>
          <div class="valid-feedback">Image looks Goods</div>
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Enter price</label>
          <input name="listing[price]" placeholder="Enter price" type="text" class="form-control" required/>
          <div class="invalid-feedback">Price is required!</div>
          <div class="valid-feedback">Price looks Goods</div>
        </div>
      
        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Location</label>
          <input name="listing[location]" placeholder="Enter location" type="text" class="form-control" required >
          <div class="invalid-feedback">Location is required!</div>
          <div class="valid-feedback">Location looks Goods</div>
        </div>
        </div>
     
  
  
        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required />
          <div class="invalid-feedback">Country is required!</div>
          <div class="valid-feedback">Country looks Goods</div>
        </div>
  
        <br>
  
        <button class="btn btn-dark">Add</button>
        <br><br>
      </form>
    </div>

    </div>
    